%h2 Upload student scores

= form_tag import_student_scores_path, multipart: true do
  .form-group
    %label{:for => :file} File
    = file_field_tag :file, class: "form-control", id: "file"
  .form-group
    %label{:for => :format} Input Format
    = select_tag :format, options_for_select(@format_types), class: "form-control", id: "format"

  .form-group
    %label{:for => :assessment} Assessment
    = select_tag :assessment, options_for_select(@assessments), class: "form-control", id: "assessment"

  .form-group
    = submit_tag "Import CSV"
