<% @page_title = "Select Students" %>
<%= link_to assessment_version_student_scores_path(@score_info[0]), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="select students for scores">

    <div class="container">
      <table class="listing table table-striped" summary="Student Scores">
        <div class="row">          
          <caption>
            <div class="header1 col-xs-12">Couldn't find a student with the name provided.</div></br>
          </caption>
        </div>
          <tr class="header">
            <th>Student</th>
            <th>Assessment Item</th>
            <th>Score</th>
            <th>Score Description</th>
          </tr>
            <% @score_info[1].each do |score| %> <!--each score holds a list containing the attributes for teh score and a list containing possible students-->
                <tr>
                    <td>
                      <%= score[1][0].FirstName %>  <!--score[1] is array of possible students-->
                      <%= score[1][0].LastName %>
                    </td>
                    <td><%= score[0].assessment_item_id %></td>  <!--score[0] is a hash of all other score attributes-->
                    <td><%= ItemLevel.find(score[0].assessment_item_id).ord %></td>
                    <>
                </tr>
                <td><%score[1].each do |stu| %>
                
                <% end %>
                  <%= Student.find(score.student_id).LastName %></td>
                <td><%= score.assessment_item_id %></td>
                <td><%= score.item_level.ord %></td>
                <td><%= score.item_level.level %></td>
              </tr>
            <% end %>
          <tr>
            <td>
              <%= form_tag import_assessment_version_student_scores_path(@version.id), multipart: true do %>  
                <%= file_field_tag :file %>
                <%= submit_tag "Upload New Scores" %>
              <% end %>  
            </td>
          </tr>