= link_to student_pgp_goals_path(@pgp_goal), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do
  %i.link-text Back

%h1= "PGP scores for #{@pgp_goal.name}"
%h2= @pgp_goal.student.name_readable
%div
  = link_to new_pgp_goal_pgp_score_path(@pgp_goal), :class => "btn btn-info glyphicon glyphicon-plus action-large" do
    %span.large-btn-text New PGP goal
- @score_groups.each_with_index do |group, idx|
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          ="Scored on #{group.first.scored_at.strftime('%m/%d/%Y')}"
          %a.btn.btn-info{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{idx}"}
            Details
      %div{:id => "collapse#{idx}", :class => ["panel-collapse", "collapse"]}
        .panel-body
          .container-fluid
            .row
              .col-xs-12.col-md-8
                %table.listing.table.table-striped
                  %thead
                    %tr.header
                      %th #
                      %th Item
                      %th Level

                  %tbody
                    - group.sort_by { |score| score.ord }.each do |score|
                      %tr
                        %td= score.ord
                        %td= score.item_level.descriptor
                        %td= score.item_level.level