<%= error_messages_for(@issue) %>

<table summary="Issue form fields">

  <tr>
    <th><%= f.label(:Name, "Issue Title:") %> </th>
    <td><%= f.text_field(:Name) %></td>
  </tr>

  <tr>
    <th><%= f.label(:Description, "Issue Description:") %></th>
    <td> <%= f.text_area(:Description, :size => '30x10') %> </td>
  </tr>

  <tr>
    <th><%= f.label(:disposition_id, "Related Disposition:") %></th>
    <td> <%= f.select(:disposition_id, @dispositions.map {|d| ["(#{d.code}) #{truncate(d.description)}", d.id]},
    {prompt: "Select a disposition"}) %></td>
  </tr>
  
  <tr>
    <%= fields_for :issue_update, @update do |update| %>
    <th><%= update.label(:status, "Status of Issue:") %></th>
    <td> <%= update.select(:status, IssueUpdate::STATUSES.keys,
    {prompt: "Select a status"}) %> </td>
    <% end %>
  </tr>

  </div>
</table>
