<%= link_to student_issues_path(@student.AltID), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="issue edit">


  <%= form_for(@issue, :url => issue_path(@issue.id) ) do |f| %>
	<h2>Edit Advisor Note for <%=@student.name_readable%></h2>
    <%= render(partial: 'form', locals: {f: f}) %>
  
  <tr> 
    <td><%= submit_tag("Update Issue") %></td>
  </tr>  
  <% end %>
</div>
