<%= link_to students_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

    </br>

          <table class="table table-striped">
            <caption>
              <div class="header1">Issues for <%= name_details(@student)%></div></br>

              <div class="header2"> <%= pluralize(@issues.size, "issue") + " found" %> </div>

              <div class="container">
                <div class="row">
                  <div class="col-md-1 pull-right">
                    <%= link_to new_issue_path, :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>  
                        <span class="large-btn-text">New Issue</span>
                    <% end %>         
                  </div>
                </div>
              </div> 
            </caption>

            <% if @student.issues.size > 0 %>

              <tr class="header">
                <th>Issue Name</th>
                <th>Date Opened</th>
                <th>Status</th>
              </tr>

              <% @issues.each do |issue| %>

              <tr>
                <td> <%= issue.Name %></td>
                <td> <%= issue.CreateDate.strftime("%m/%d/%Y")%> </td>

                <td class="<%= issue.Open ? "bad_text" : "good_text" %>">
                  <!-- glyph here if open -->
                  <% if issue.Open %>

                      <div class="col-md-1">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                      </div>

                      <div class="col-md-1">
                        Open
                      </div>

                  <% else %>
                      <div class="col-md-1">
                        <span class="glyphicon glyphicon-ok"></span>
                      </div>

                      <div class="col-md-1">
                        Resolved
                      </div>
                  <% end #end of status conditional %>

                </td>

                <td class="actions">
                  <!-- buttons
                    details
                    updates
                    close isue -->

                    <%= link_to "Details", issue_path(issue.IssueID), class: "btn btn-info action-small"%>
                              
                    <%= link_to "Updates", issue_issue_updates_path(issue.IssueID), class: "btn btn-info action-small"%>   
                     
                    <% if issue.Open %>          
                      <%= link_to "Resolve Issue", issue_resolve_issue_path(issue.IssueID), class: "btn btn-info action-small"%>
                    <% end %>                             
                      
                </td>
              </tr>
              <% end #end of loop iterating through records %>              

            <% end #end of conditional for table. %>       

          </table>

          