<%= link_to student_issues_path(@student.AltID), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="issue new">


  <%= form_for(:issue, :url => student_issues_path(@student.AltID) ) do |f| %>
	<h2>Open Advisor Note for <%=@student.name_readable%></h2>
    <%= render(partial: 'form', locals: {f: f}) %>

    <tr>
      <td>
          <%= submit_tag("Open Issue") %>
      </td>
    </tr><br>
    <tr><br>
      <div>
        <%= fields_for :issue_update, @update do |update| %>
        <th><%= update.label(:status, "Status of Issue:") %></th>
        <td> <%= update.select(:status, IssueUpdate::STATUSES.keys,
        {prompt: "Select a status"}) %> </td>
        <% end %>
      </div>
    </tr>



  <% end %>
</div>
