<%= link_to student_issues_path(@student.AltID), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="issue new">


  <%= form_for(:issue, :url => student_issues_path(@student.AltID) ) do |f| %>
	<h2>Open Advisor Note for <%=@student.name_readable%></h2>
  	<%= error_messages_for(@issue) %>

	<table summary="Issue form fields">

	  <tr>
	    <th><%= f.label(:Name, "Issue Name") %> </th>
	    <td><%= f.text_field(:Name) %></td>
	  </tr>

	  <tr>
	    <th><%= f.label(:Description, "Issue Description") %></th>
	    <td> <%= f.text_area(:Description, :size => '30x10') %> </td>
	  </tr>

    <%= fields_for :issue_update, @update do |update| %>
      <th><%= update.label(:status, "Status of Issue") %></th>
      <td> <%= update.select(:status, IssueUpdate::STATUSES.keys,
      {prompt: "Select a status"}) %> </td>
    <% end %>


  	<tr>
	<th></th>
	<td>
    <div class="form-buttons">
      <%= submit_tag("Open Issue") %>
	</td>
	</tr>
    </div>
	</table>



  <% end %>
</div>
