<%= link_to student_issues_path(@student.AltID), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>


<div class="issue_update edit">

	<%= form_for(:issue_update, :url => issue_close_issue_path(@issue.IssueID)) do |f| %>
	<h2>Close Note for <%=[@first_name, @last_name].join(' ')%></h2>
  	<%= error_messages_for(@update) %>

	<table summary="Issue form fields">

	  <tr>
	    <th><%= f.label(:Description, "Please provide informtation on why this issue is being closed.") %> </th>
	    <td><%= f.text_area(:Description, :size => '30x10') %></td>
	  </tr>

	<tr>
	<th></th>
	<td>
    <div class="form-buttons">
      <%= submit_tag("Close Issue") %>
	</td>
	</tr>
    </div>	
	</table>
	<% end %>

</div>
