<%= link_to student_issues_path(@student.AltID), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<table class="vertical-table">
  <caption>
    
    <div class="header1">
      <%= "#{@first_name} #{@last_name}"%>
    </div>

    <div class="header2">
      <%= @issue.Name %>
    </div>
  </caption>

  <tr>
    <th>Date Opened</th>
    <td> <%= @issue.CreateDate.strftime("%m/%d/%Y")%></td>
  </tr>

  <tr>
    <th>Status</th>
      <td class="<%= @issue.Open ? "bad_text" : "good_text" %>">
        <!-- glyh here if open -->
        <% if @issue.Open %>

            <div class="col-md-1">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
            </div>

            <div class="col-md-1">
              Open
            </div>

        <% else %>
            <div class="col-md-1" id="glyph-no-space">
              <span class="glyphicon glyphicon-ok"></span>
            </div>

            <div class="col-md-1" id="text-no-space">
              Resolved
            </div>
        <% end #end of status conditional %>

      </td>
  </tr>

  <tr >
    <th>Issue Desription</th>
    <td class="wrap"><%= @issue.Description %></td>
  </tr>

  <!-- updates button -->
  <tr>
    <td class="actions" colspan="2">
      <div class="btn btn-info">
        <%= link_to("Updates (#{@issue.issue_updates.size})", issue_issue_updates_path(@issue.IssueID), :class => 'action-small') %> 
      </div>

    </td>
  </tr>


</table>


