<% @page_title = "Students" %>


<div class="students index">
  <div class="row">

  </div>
    <div class="container">
      <table class="listing table table-striped" summary="Student list">

        <div class="row">
          <caption>
            <div class="header1 col-xs-12">Students</div></br>
            <div class="header2 col-xs-12"> <%= @students.size %> found</div></br>
            <div class="col-xs-12">

              <%= render partial: "search", locals: {:path => @search_path,
                  :prompt => "first or last name"} %>
            </div></br>

            </div>
          </caption>

        </div>
          <tr class="header">
            <th>B#</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Program Status</th>
          </tr>
          <% @students.each do |student| %>

              <td><%= student.Bnum %></td>
              <td><%= student.FirstName %> <%= student.PreferredFirst.present? ? "(#{student.PreferredFirst})" : nil %></td>
              <td><%= student.MiddleName %></td>
              <td><%= student.LastName %> <%= student.PrevLast.present? ? "(#{student.PrevLast})" : nil %></td>
              <td>
                 <%= render(partial: 'status_popover',
                    locals: {
                      :stu => student
                    } )  %>
              </td>
              <td class="actions">

                <!-- Actions dropdown -->
                <div class="dropdown student-actions-menu">
                  <button id= <%= "stu-actions-menu-#{student.id}" %>
                    class="btn btn-primary dropdown-toggle"
                    type="button" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <!-- available actions populated here -->
                  </ul>
                </div>

              </td>
            </tr>

          <% end %>
        </table>

      </div> <!--end container -->
</div>
