<% @page_title = "Students" %>



<div class="students index">
  <h2>Students</h2>

  <div> <%= pluralize(@students.size, 'student') %>  found </div>

  <table class="listing" summary="Student list">
    <tr class="header">
      <th>B#</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Program Status</th>
    </tr>
    <% @students.each do |student| %>
    <tr class "<%= cycle('odd', 'even') %>">
	  <td><%= student.Bnum %></td>
	  <td><%= student.FirstName %> <%= student.PreferredFirst ? "(#{student.PreferredFirst})" : nil %></td>
	  <td><%= student.MiddleName %></td>
	  <td><%= student.LastName %> <%= student.PrevLast ? "(#{student.PrevLast})" : nil %></td>
	  <td><%= student.ProgStatus %></td>
    <td class="actions">

        <%= link_to("Details", student_path(student.Bnum), :class => 'action show') %>
        <% if student.praxis_results.size > 0 %>
        <%= link_to("Praxis History", praxis_result_path(student.Bnum),  :class => 'action show_praxis') %>
        <% end %>

    	  <!-- action buttons to do more with an individual student:
    	  		see praxis scores
    	  		file an issue
    	  		see documents
    	  		key assessments
    	  		what else? -->

      </td>
    </tr>
    <% end %>
  </table>
</div>