

<%= link_to students_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>



<div class="students show">


  <table class="vertical-table" summary="Student detail view">
  <caption> Student Details</caption>
    <tr>
      <th>B#</th>
      <td><%= @student.Bnum %></td>
    </tr>
    <tr>

    <tr>
      <th>First Name</th>
      <td><%= @student.FirstName %> <%= @student.PreferredFirst ? "(#{@student.PreferredFirst})" : nil %></td>
    </tr>

    <tr>
      <th>Middle Name</th>
      <td><%= @student.MiddleName %></td>
    </tr>

    <tr>
      <th>Last Name</th>
      <td><%= @student.LastName %> <%= @student.PrevLast ? "(#{@student.PrevLast})" : nil %></td>
    </tr>

    <tr>
      <th>Status in Program</th>
      <td><%= @student.prog_status %> </td>
    </tr>

    <tr>
      <th>Berea College Enrollment Status</th>
      <td><%= @student.EnrollmentStatus %> </td>
    </tr>

    <tr>
      <th>Classification</th>
      <td><%= @student.Classification %> </td>
    </tr>
    
    <tr>
      <th>Programs</th>
      <td><%= @student.programs.pluck("EDSProgName").join("; ") %></td>
    </tr>
    
    <tr>
      <th>Current Majors</th>   	
      <td><%= [@student.CurrentMajor1, @student.CurrentMajor2].select{|m| (m !="" and m != nil)}.join(", ") %> </td>
    </tr>

    <tr>
      <th>Current Minors</th>   	
      <td><%=@student.CurrentMinors %> </td>
    </tr>

    <tr>
      <th>Email</th>   	
      <td><%= mail_to @student.Email%> </td>
    </tr>

    <tr>
      <th>Cell Phone</th>   	
      <td><%= @student.CellPhone%> </td>
    </tr>


    <tr>
      <th>CPO</th>   	
      <td><%= @student.CPO%> </td>
    </tr>

  </table>
</div>