
    <%= error_messages_for(@teacher) %>
    <tr>
      <th> <%= f.label(:FirstName, "First Name")%> </th>
      <td> <%= f.text_field(:FirstName) %></td>
    </tr>

    <tr>
      <th> <%= f.label(:LastName, "Last Name")%> </th>
      <td> <%= f.text_field(:LastName) %></td>
    </tr>

    <tr>
      <th> <%= f.label(:Email, "Email")%> </th>
      <td> <%= f.text_field(:Email) %></td>
    </tr>

    <tr>
      <th> <%= f.label(:clinical_site_id, "Site")%> </th>
      <td> <%= f.select(:clinical_site_id, @sites.map {|s| [s.SiteName, s.id]}, {:prompt => 'Select a clinical site'}) %></td>
    </tr>

    <tr>
      <th> <%= f.label(:Subject, "Subject")%> </th>
      <td> <%= f.select(:Subject, @subjects.map {|s| [s.EDSProgName, s.EDSProgName]},
        {:prompt => 'Select a subject'}) %></td>
    </tr>

    <tr>
      <th> <%= f.label(:Rank, "Rank")%> </th>
      <td> <%= f.text_field(:Rank) %></td>
    </tr>

    <tr>
      <th> <%= f.label(:begin_service, "Date beginning service")%> </th>

    <td>
      <%= render(partial: 'date_picker', :locals => {
                f: f,
                field: :begin_service,
                default: ""
              } )%>
    </td>
    </tr>

    <tr>
      <th> <%= f.label(:epsb_training, "EPSB Training")%> </th>
    <td>
      <%= render(partial: 'date_picker', :locals => {
                f: f,
                field: :epsb_training,
                default: ""
              } )%>
    </td>
    </tr>

    <tr>
      <th> <%= f.label(:ct_record, "CT Record")%> </th>
    <td>
      <%= render(partial: 'date_picker', :locals => {
                f: f,
                field: :ct_record,
                default: ""
              } )%>
    </td>
    </tr>

    <tr>
      <th> <%= f.label(:co_teacher_training, "Co-teacher Training")%> </th>
    <td>
      <%= render(partial: 'date_picker', :locals => {
                f: f,
                field: :co_teacher_training,
                default: ""
              } )%>
    </td>
    </tr>

  </table>
