<%= link_to clinical_teachers_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<%= form_for(@teacher, url: clinical_teacher_path(@teacher.id)) do |f| %>

	<table summary="clinical_teacher form fields">

    <caption>
    	<span class="header1"> Edit Clinical Teacher</span></br>
    	<span class="heeader2"> <%= [@teacher.FirstName, @teacher.LastName].join(' ') %></span>

    </caption>

	<%= render(partial: 'form', locals: {f: f}) %>

	<tr>
		<td><%= submit_tag("Edit Teacher") %></td>
	</tr>

<% end %>