<%= link_to students_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<% @page_title = "Clinical Teachers" %>

<div class="container-fluid">  
  <table class="listing table table-striped" summary="clinical_teachers list">
    <div class="row">  
      <caption>  
          <span class="header1 col-xs-12">Clinical Teachers </span><br>  
          <span class="header2 col-xs-12"><%= @teachers.size %> found</span>  
          <div class="col-xs-1">
            <%= link_to new_clinical_teacher_path, :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>  
                <span class="large-btn-text">Add New Clinical Teacher</span>
            <% end %>         
          </div>
        </caption>
      </div>
    <tr class="header">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>B#</th>      
      <th>Rank</th>
      <th>Years Experience</th>
    </tr>
    <% @teachers.each do |teacher| %>
      <% if can? :read, teacher %>
        <td><%= teacher.FirstName%></td>
        <td><%= teacher.LastName %></td>
        <td><%= mail_to teacher.Email%></td>
        <td><%= teacher.Subject %> </td>
        <td><%= teacher.Bnum %></td>
        <td><%= teacher.Rank %></td>
        <td><%= teacher.YearsExp %></td>
        <td class="actions">

          <!-- actions:
             edit teacher
             see assignments-->

        <!-- edit teacher -->
          <%= link_to(edit_clinical_teacher_path(teacher.id), :class => "btn btn-info action-small") do %>
            <span class="small-btn-text"> Edit</span>
          <% end %>

        <!-- see assignments -->

        <!-- example -->
            <%# link_to edit_clinical_site_path(site.id), :class => "btn btn-info action-small" do %>
                  <!-- <span class="small-btn-text">Edit</span> -->
                <%# end %>

          </td>
          <td>
             <%= link_to(clinical_teacher_delete_path(teacher.id), :class => "btn btn-default") do %>  
                <span class="glyphicon glyphicon-trash" style="color:red"></span>
             <% end %>         
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>                  