<%= link_to adm_st_index_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

            <table>
            	<caption>
            		<div class="header1"> Edit Student Teacher Admission</div>
            		<div class="header2"> <%= name_details(@student, file_as=true)  %></div>
            	</caption>

			<%= form_for(@app, :url => adm_st_update_st_paperwork_path(@app.id), method: :post ) do |f| %>
              <tr>
                <td> <%= f.label :background_check, "Background Check" %>   </td>
                <td><%= f.check_box :background_check %></td>
              </tr>

              <tr>
                <td> <%=f.label :beh_train, "Behavior Training"  %> </td>
                <td><%= f.check_box :beh_train %></td>
              </tr>

              <tr>
                <td> <%=f.label :conf_train, "Confidentiality Training"  %> </td>
                <td><%= f.check_box :conf_train %></td>
              </tr>

              <tr>
                <td> <%=f.label :kfets_in, "KFETS hours in"  %> </td>
                <td><%= f.check_box :kfets_in %></td>
              </tr>

              <tr>
                <td> <%=f.label :STTerm, "Student Teaching Term"  %> </td>
                <td><%= f.select :STTerm, @terms.map { |t| [t.PlainTerm, t.BannerTerm]}, :prompt => "Select a term" %>
                </td>
              </tr>

              <tr>
                <td> <%=f.label :Notes, "Notes" %> </td>
                <td><%= f.text_area(:Notes, :side => '40x10') %></td>
              </tr>

              <tr>
                  <td>
                      <div class="form-buttons">
                          <%= submit_tag("Submit") %>
                      </div>
                  </td>   
              </tr> 

            </table>
          <% end %>