<%= link_to adm_st_index_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>
    


    <%= error_messages_for(@app) %> 
    <%= form_for(:adm_st, :url => adm_st_path(@app.id), method: :patch ) do |f| %>
    <table summary="adm_st form fields">
        <caption>
        <div class="header1"> <%= "Edit Application to Student Teaching"  %> </div>
        <div class="header2"> <%= name_details(@student, file_as=true) %> </div>
        </caption>
        <tr>
            <th><%= f.label(:STAdmitted, "Admission Decision", ) %></th>

            <td><%= f.select(:STAdmitted, 
                        {"Admitted" =>  true, "Not Admitted" => false},
                        {prompt: "Admission Decision"}, :class => "admit-choice") %></td>
        </tr>


        <tr>            
        <th class="date-admit"><%= f.label(:STAdmitDate, "Admit Date") %></th>

            <td class="date-admit">


              <%= render(partial: 'date_picker', :locals => {
                        f: f,
                        field: :STAdmitDate,
                        default: Date.today
                      } )%> 

        </td>

             <tr>
              <th><%= f.label(:Notes, "Comments") %></th>
              <td><%= f.text_area(:Notes, :side => '40x10') %></td>
            </tr>

            <td class="letter-attach">
                <%= f.file_field :letter %>


            </td>
        </tr>



        <tr>
            <td>
                <div class="form-buttons">
                    <%= submit_tag("Submit") %>
                </div>
            </td>   

        </tr> 
        </table>
        <% end %>         
</div>
