
<div class="index">

  <% if @app %>

    <%= error_messages_for(@app)  %>
  <% end  %>


  <!-- drop down menu for all terms. Reload page on change -->
  <%= form_for(:banner_term, :url => adm_st_choose_path('pick')) do |f| %>

    <%= render(partial: 'term_picker', locals: {f: f}) %>

  <% end %>

  <table class="listing summary adm_st list table table-striped">
   
    <caption>        
        <div class="header1">Applications to Student Teaching: <%= @term.PlainTerm%></div></br>
        <div class="header2"><%= pluralize(@applications.size, 'application') %>  found </div>
      
        <div class="container">
          <div class="row">
            <div class="col-md-1 pull-right">
              <%= link_to new_adm_st_path, :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>  

                  <span class="large-btn-text">Add New Student</span>

              <% end %>         

            </div>
          </div>

      </div>
    </caption>

    <% if @applications.size > 0  %>

          <tr class="header">
            <th>First Name</th>
            <th>Last Name</th>
            <th>GPA</th>
            <th>Core GPA</th>      
            <th>Admit Date</th>
            <th> Admission Decision</th>
            <th>ST Term</th>
<!--             <th>Admission Decision</th>
            <th>Details</th>
            <th>Paperwork</th>
            <th>Letter</th> -->

          </tr>
      	<% @applications.each do |app|%>
        <% student = Student.find(app.Student_Bnum) %>

			<tr>
			<td><%= student.FirstName %></td>
			<td><%= student.LastName %></td>
      		<td><%=app.OverallGPA %></td>
      		<td><%=app.CoreGPA%></td>

      		<td><%= app.STAdmitDate ? app.STAdmitDate.strftime("%m/%d/%Y") : nil%></td>
      <td>
        <% if app.STAdmitted == nil and @term = current_term(exact: false)%>    

          <%= link_to("Admission Decision", edit_adm_st_path(app.AltID), :class => "action details btn btn-info action-small issues")%>

        <% else %>

          <%= app.STAdmitted ? "Admitted" : "Not admitted"%>

        <% end %>
      </td>
      
      <td> <%= app.STTerm ? banner_to_plain(app.STTerm) : nil%> </td> 

      <td class="actions">
        
        <%# link_to("Notes", adm_st_path(app.AltID), :class => "action details btn btn-info action-small")%>

          <%= render(partial: 'details_popover', 
          locals: {
            :record_id => app.AltID,
            :popover_title => "Admission to Student Teaching Notes", 
            :button_title => "Notes",
            :content => app.Notes
          } )  %>

			
            <!-- Display button for admission decision if
                1) Student has no admission decision
                2) we are currently inside a term
                3) the term displayed is a current term.-->



        <%= link_to("Edit", adm_st_edit_st_paperwork_path(app.AltID) , :class => "action details btn btn-info action-small") %>
              

          <% if app.letter_file_name %>      

              <%= link_to app.letter.url, :class => "btn btn-default glyphicon glyphicon-file action-small" do %>
              <% end %>

          <% else %>

              <%= link_to "#", :class => "btn btn-default glyphicon glyphicon-file action-small disabled glyph-only" do %>
              <% end %>

          <% end %>

          <!-- ST paperwork goes here -->
        </td>
      </tr>
      <!-- end of if statement for content-->
    	<% end %>
          
    <!-- end of main loop -->
    <% end %>   

  </table>
</div>