<%= link_to students_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="index">

  <% if @app %>
    <%= error_messages_for(@app)  %>
  <% end  %>


  <!-- drop down menu for all terms. Reload page on change -->
  <%= form_for(:banner_term, :url => adm_st_choose_path('pick')) do |f| %>

    <%= render(partial: 'term_picker', locals: {f: f}) %>

  <% end %>

    <div class="container-fluid">
      <table class="listing summary adm_st list table table-striped">
        <div class="row">
          <caption>
              <div class="col-xs-12 header1">Applications to Student Teaching: <%= @term.PlainTerm%></div></br>
              <div class="col-xs-12 header2"><%= pluralize(@applications.size, 'application') %>  found </div>
                  <div class="col-xs-12">
                    <%= link_to new_adm_st_path, :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>

                        <span class="large-btn-text">Add New Student</span>

                    <% end %>

                  </div>
          </caption>
        </div>

    <% if @applications.size > 0  %>

          <tr class="header">
            <th>First Name</th>
            <th>Last Name</th>
            <th>GPA</th>
            <th>Admit Date</th>
            <th> Admission Decision</th>
            <th>ST Term</th>
<!--             <th>Admission Decision</th>
            <th>Details</th>
            <th>Paperwork</th>
            <th>Letter</th> -->

          </tr>
        <% @applications.each do |app|%>
          <!-- currently only admin and staff have access to this resource, but if we provide access
          to advisors, they will only be able to see their own students. -->
          <% if can? :read, app %>
              <tr>
              <td><%= app.student.FirstName %></td>
              <td><%= app.student.LastName %></td>
              <td>
                <% if app.good_gpa? %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
              </td>
              <td><%= app.STAdmitDate ? app.STAdmitDate.strftime("%m/%d/%Y") : nil%></td>
              <td>

                <% if app.STAdmitted == nil and @term = current_term(exact: false)%>

                  <%= link_to("Admission Decision", edit_adm_st_path(app.id), :class => "action details btn btn-info action-small issues")%>

                <% else %>

                  <%= app.STAdmitted ? "Admitted" : "Not admitted"%>

                <% end %>
              </td>

              <td>
                <%= app.STTerm ? banner_to_plain(app.STTerm) : nil%>
              </td>

              <td class="actions">


                <%= render(partial: 'details_popover',
                  locals: {
                    :record_id => app.id,
                    :popover_title => "Admission to Student Teaching Notes",
                    :button_title => "Notes",
                    :content => app.Notes
                  } )  %>

                    <!-- Display button for admission decision if
                        1) Student has no admission decision
                        2) we are currently inside a term
                        3) the term displayed is a current term.-->

                <%= link_to("Edit", adm_st_edit_st_paperwork_path(app.id) , :class => "action details btn btn-info action-small") %>

                <% if app.student_file %>

                  <%= link_to adm_st_download_path(app.id), :class => "btn btn-default glyphicon glyphicon-file action-small" do %>
                  <% end %>

                <% else %>

                  <%= link_to "#", :class => "btn btn-default glyphicon glyphicon-file action-small disabled glyph-only" do %>
                <% end %>

                <%# button_to("delete", :action => 'delete', :class => "btn btn-default glyphicon glyphicon-trash action-small") do %>

                <%# end %>
                  <!-- ST paperwork goes here -->

              <% end %>
            </td>
            <td>
                <%= button_to(adm_st_path(app.id), { class: "btn btn-default #{app.STAdmitted==nil ? "" : "disabled" }", method: :delete, data: {confirm: "Are you sure you want to delete this application?"}} ) do %>
                     <span class="glyphicon glyphicon-trash" ></span>
                <% end %>
            </td>
          </tr>
        <!-- end of if statement for content-->
        <% end %>

      <!-- end of main loop -->
      <% end %>

    <% end %>
    </table>
  </div>
</div>
