<% @page_title = "Student Scores" %>

<div class="pending student score index">
    <div class="container">
      <table class="listing table table-striped" summary="Pending Scores">
        <div class="row">          
          <caption>
            <div class="header1 col-xs-12">Pending Student Scores</div></br>
            <div class="header2 col-xs-12"><%= @pending.size %> found</div></br>     
          </caption>
        </div>
          <tr class="header">
            <th>Assessment Version</th>
            <th>Assessment Item</th>
            <th>Score</th>
            <th>Score Description</th>
          </tr>
          <% @pending.each do |score| %>
            <tr>
              <td><%= score.assessment_version_id %></td>
              <td><%= score.assessment_item_id %></td>
              <td><%= score.item_level.ord %></td>
              <td><%= score.item_level.level %></td>
              <% pos_stu = score.find_stu %>
              <td><%= render(partial: 'stu_dropdown', locals: {:students => pos_stu}) %></td>
            </tr>
          <% end %>