<div class="container-fluid">
  <table class="listing table table-striped" summary="praxis list">
      <div class="row">
        <caption>
          <div class="header1 col-xs-12"> Unresolved Praxis Results </div>
          <div class="header2 col-xs-12"> <%= pluralize(@temps.size, 'result') %>  found
          </div>
        </caption>
      </div>

      <% if @temps.size > 0  %>

            <tr class="header">
              <th>First Name </th>
              <th>Last Name </th>
              <th>Test</th>
              <th>Date Taken</th>

            </tr>


            <% @temps.each_with_index do |temp, i| %>
              <tr>
                <td><%= temp.first_name %></td>
                <td><%= temp.last_name %></td>
                <td><%= temp.praxis_test.andand.TestName %></td>
                <td><%= temp.test_date.andand.strftime("%m/%d/%Y") %></td>


                <%= form_tag praxis_result_temp_resolve_path(temp.id), :method => :post, data: { confirm: "Are you sure you want to resolve this record to this student?" }  do %>
                <td>
                  <%= select_tag :student_id, options_for_select([]), {:include_blank => "Select a student to resolve",
                    :class => "temp_resolve_dropdown",
                    :id => "dropdown#{i}",
                    :search_name => "#{temp.first_name} #{temp.last_name}"} %>
                </td>
                <td> <%= submit_tag "Submit", data: { confirm: "Are you sure?" } %> </td>
                <% end %> <!-- end form tag  -->
                
              </tr>

            <% end %>  <!-- end loop -->

      <% end %>  <!-- end if -->

  </table>
</div>
