

<%= form_for @exit, url: prog_exits_path do |f|   %>
	<table summary="prog_exit form fields" class="new">



		<%= error_messages_for(@exit) %>

		<tr>
		    <th> <%=f.label :student_id, "Student to Exit:"%> </th>
		    <td>
			<%= f.select :student_id,
			options_for_select(@students.map{|s| [name_details(s, file_as=true), s.id]}, :selected => @exit.student_id ? @exit.student.AltID : "" ),

				{:include_blank => "Select a student to exit:"},

		      	{id: 'names_select',
		        :ajax_path => prog_exits_get_programs_path } %>
		    </td>
		</tr>

		<tr>
		  <th> <%= f.label :Program_ProgCode, "Program to Exit:", :class => 'programs_row'  %> </th>
		  <td>
		  	<%= f.select :Program_ProgCode, options_for_select([]), {}, {prompt: "Select a Program to Exit", id: 'programs_select', :class => 'programs_row'} %>
		  </td>
		</tr>

		<tr>
			<th>
				<%= f.label :ExitCode_ExitCode, "Exit Reason:" %>
			</th>
			<td>
				<%= f.select :ExitCode_ExitCode, options_for_select(@exit_reasons.collect { |er| [er.ExitDiscrip, er.id]})  %>
			</td>
		</tr>

		<tr>
			<th>
				<%= f.label :ExitDate, "Exit Date:" %>
			</th>

            <td class="date-admit">


				<%= render(partial: 'date_picker', :locals => {
					f: f,
					field: :ExitDate,
					default: @exit.ExitDate ? (@exit.ExitDate) : ""
				} )%>
            </td>
		</tr>

		<tr>
			<th>
				<%= f.label :RecommendDate, "Date Recommend Certification:"  %>
			</th>

            <td class="date-admit">

				<%= render(partial: 'date_picker', :locals => {
					f: f,
					field: :RecommendDate,
					default: @exit.RecommendDate ? (@exit.RecommendDate) : ""
				})  %>
            </td>
		</tr>

		<tr>
			<th>
				<%= f.label :Details, "Details:" %>
			</th>

			<td>
				<%= f.text_area(:Details, :side => '40x10') %>
			</td>

		</tr>

<% end %>
