<%= form_for @exit, url: prog_exit_path do |f|   %>

	<table summary="prog_exit form fields" class="edit">

    <caption>
    	<span class="header1"> Edit Student Exit for</span>
    	<span class="header2"> <%=name_details(@exit.student, file_as=true)  %> </span>
    </caption>

		<%= error_messages_for(@exit) %>

		<tr>
		  <th> Program: </th>
		  <td>
		  <%= @exit.program.EDSProgName %>
		  </td>
		</tr>

		<tr>
			<th>
				Exit Reason:
			</th>
			<td>
				<%= @exit.exit_code.ExitDiscrip %>
			</td>
		</tr>

		<tr>
			<th><%= f.label(:ExitDate, "Exit Date:")%></th>
			<td><%= f.text_area(:ExitDate) %></td>
		</tr>

		<tr>
			<th>
				<%= f.label :RecommendDate, "Date Recomend Certificaiton:"  %>
			</th>

            <td class="date-admit">
	
				<%= render(partial: 'date_picker', :locals => {
					f: f,
					field: :RecommendDate,
					default: @exit.RecommendDate ? (@exit.RecommendDate) : ""
				})  %>
            </td>
		</tr>

		<tr>
			<th>
				<%= f.label "Details:" %>
			</th>

			<td>
				<%= f.text_area(:Details, :side => '40x10') %>
			</td>

		</tr>

	<tr>
		<td><%= submit_tag("Update Exit") %></td>
	</tr>

<% end %>
