<div class="index">

  <!-- drop down menu for all terms. Reload page on change -->
  <%= form_for(:banner_term, :url => prog_exit_choose_path('pick')) do |f| %>

    <%= render(partial: 'term_picker', locals: {f: f}) %>

  <% end %>


  <table class="listing summary adm_tep list table table-striped">
   
    <caption>        
        <div class="header1">Program Exits: <%= @term.PlainTerm%></div></br>
        <div class="header2"><%= pluralize(@exits.size, 'exit') %>  found </div>
      
        <div class="container">
          <div class="row">

            <div class="col-md-1 col-md-offset-9">

                  <%= link_to prog_exit_need_exit_path("get"), :class => "btn btn-info glyphicon glyphicon-plus action-large " + (@needs_exit.size > 0 ? "" : "disabled") do %>  
                  <span class="large-btn-text">
                    Exits Needed

                      <span class="badge"> <%= @needs_exit.size %> </span>                  
                  </span>

                <% end %>


            </div>

            <div class="col-md-1 col-md-offset-1">
              <%= link_to new_prog_exit_path, :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>  

                  <span class="large-btn-text">Add New Exit</span>

              <% end %>        

            </div>


          </div>

      </div>
    </caption>

    <% if @exits.size > 0  %>

          <tr class="header">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Program</th>
            <th>GPA</th>
            <th>GPA (Last 60 Credit Hours)</th>          
            <th>Exit Date</th>
            <th>Exit Reason</th>
            <th>Recomend Date</th>
            <th>Details</th>

          </tr>
      	<% @exits.each do |exit|%>
    <tr>
		<td><%= exit.student.FirstName %></td>
		<td><%= exit.student.LastName %></td>

      <td><%= exit.program.EDSProgName %> </td>

      <td><%= exit.GPA ? exit.GPA : nil%></td>
      <td><%=exit.GPA_last60 ? exit.GPA_last60 : nil%></td>

      <td><%= exit.ExitDate ? exit.ExitDate.strftime("%m/%d/%Y") : nil %></td>
      <td><%= exit.exit_code.ExitDiscrip  %></td>

      <td> <%= exit.RecommendDate ? exit.RecommendDate.strftime("%m/%d/%Y") : nil   %> </td>

			<td class="actions">
            <!-- Action buttons
                1) Details of exit 
                2) edit exit record
              -->


<!-- 1) Details of exit  -->
          

          <%= render(partial: 'details_popover', 
          locals: {
            :record_id => exit.AltID,
            :popover_title => "Exit Details", 
            :button_title => "Details",
            :content => exit.Details
          } )  %>


        <%= link_to("Edit", edit_prog_exit_path(exit.AltID), :class => "action btn btn-info action-small")%>
      </td>
<!-- Edit record -->




      </tr>
        <!-- End of loop iterating over each record -->
      	<% end %>
          
    <!-- end of if statement for content-->
    <% end %>   

  </table>
</div>