<% @page_title = "Clinical Sites" %>

  <table class="listing table table-striped" summary="clinical_sites list">
    <caption>	
      <span class="header1">Clinical Sites </span><br>  
      <span class="header2"><%= @sites.size %> found</span>  
        <div class="container">
          <div class="row">
            <div class="col-md-1 pull-right">
              <%= link_to new_clinical_site_path, :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>  
                  <span class="large-btn-text">Add New Site</span>
              <% end %>         
            </div>
          </div>
        </div> 
    </caption>
    <tr class="header">
      <th>Site Name</th>
      <th>City</th>
      <th>County</th>
      <th>District</th>
      <th>Principal</th>
    </tr>
    <% @sites.each do |site| %>
	  <td><%= site.SiteName%></td>
	  <td><%= site.City %></td>
	  <td><%= site.County %></td>
	  <td><%= site.District %> </td>
	  <td><%= site.Principal %></td>
    <td class="actions">

    	<!-- actions:
    	 	see teachers
    	 	edit school-->

		<!-- edit school  -->
        <%= link_to edit_clinical_site_path(site.id), :class => "btn btn-info action-small" do %>
              <span class="small-btn-text">Edit</span>
            <% end %>

	 	<!-- see teachers -->
        <%= link_to "#", :class => "btn btn-info action-small" do %>
              <span class="small-btn-text">Teachers</span>
            <% end %>


      </td>
    </tr>
    <% end %>
  </table>