<%= link_to clinical_sites_path(), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<table class="vertical-table">
  <caption>
    
    <div class="header1">
      <%= "Clinical Site Details for #{@site.SiteName}"%>
    </div>
  </caption>
  
  <tr>
    <th>Principal</th>
    <td><%= @site.Principal %></td>
  </tr>
    
  <tr >
    <th>Phone Number</th>
    <td><%= @site.phone %></td>
  </tr>
  
  <tr>
    <th>Receptionist</th>
    <td><%= @site.receptionist %></td>
  </tr>
  
  <tr>
    <th>Website</th>
    <td class="wrap"><%= link_to(@site.website, @site.website)%></td>
  </tr>
  
  <tr>
      <th>Email</th>
      <td class="weap"><%= mail_to(@site.email, @site.email) %></td>
  </tr>

</table></br>


