<%= link_to students_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

  <div class="container-fluid">
    <table class="listing table table-striped" summary="praxis list">
        <div class="row">
          <caption>
            <div class="header1 col-xs-12"> Praxis Results for <%= "#{@student.FirstName} #{@student.LastName}"%> </div>
            <div class="header2 col-xs-12"> <%= pluralize(@student.praxis_results.size, 'result') %>  found
            </div>
          </caption>
        </div>

        <% if @tests.size > 0  %>

              <tr class="header">
                <th>Test Name</th>
                <th>Test Family (I or II)</th>
                <th>Date Taken</th>
                <% if can? :read, PraxisResult %>
                    <th>Passing?</th>
                <% end %>
              </tr>
              <% @tests.each do |result| %>
                <td><%= result.praxis_test.andand.TestName %></td>
                <td><%= result.praxis_test.andand.family_readable %></td>
                <td><%= result.test_date.andand.strftime("%m/%d/%Y")%> </td>
                <% if can? :read, result %>
                    <td>
                        <span class="glyphicon glyphicon-<%= result.passing? ? 'ok' : 'remove' %>" aria-hidden="true"></span>
                    </td>
                  
                <% end %>
                 <td class="actions">
                    <%= link_to praxis_result_path(result.AltID), class: "btn btn-info action-small issues" do %>
                        <span class="small-btn-text">Details</span>
                    <% end %>

                    <%= link_to edit_praxis_result_path(result.AltID), class: "btn btn-info #{result.can_alter? ? "" : "disabled"}" do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                    <td>
                       <%= button_to praxis_result_path(result.AltID), {class: "btn btn-default #{result.can_alter? ? "" : "disabled"}", method: :delete, data: {confirm: "Are you sure you want to delete this test?"}} do %>
                          <span class="glyphicon glyphicon-trash"></span>
                        <% end %>
                    </td>
                </tr>

                <% end %>

        <% end %>

    </table>
  </div>
