<%= link_to access_index_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="praxis new">

    <%= error_messages_for(@test) %>

    <%= form_for @test, url: praxis_results_path do |f| %>

      <table summary="Praxis form fields">

        <caption>New Praxis Registration</caption>
        <%= render(partial: 'form', locals: {f: f})  %>
      </table>

    <div class="form-buttons">
      <%= submit_tag("Create Test") %>

    <% end %>
</div>