<%= link_to students_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="praxis new">


    <%= form_for @test, url: praxis_results_path, html: {:onsubmit => "return confirm('Are you sure?');"} do |f| %>
      <table summary="Praxis form fields">

        <caption>New Praxis Registration</caption>
        <%= error_messages_for(@test) %>
        <tr>
          <th> <%= f.label(:Bnum, "Name")%> </th>
          <td> <%= f.select(:Bnum, @students.map {|s| [name_details(s), s.Bnum]}, {:prompt => 'Select a name'}) %></td>
        </tr>

        <tr>
          <th> <%= f.label(:TestCode, "Test Name")%> </th>
          <td> <%= f.select(:TestCode,  @test_options.map {|t| [t.TestName, t.TestCode]}, 
          {:prompt => 'Select a test'}) %></td>
        </tr>

        <tr>
          <th> <%= f.label(:TestDate, "Test Date")%> </th>
          <td> <%= f.datetime_select(:TestDate, {:include_blank => true, :default => nil, :order => [:month, :day, :year, :hour, :minute ], :minute_step => 5})  %></td>
        </tr>

        <tr>
          <th> <%= f.label(:RegDate, "Regsitration Date")%> </th>
          <td> <%= f.date_select(:RegDate, {:order => [:month, :day, :year], default: Date.today})  %></td>
        </tr>

        <tr>
          <th> <%= f.label(:PaidBy, "Paid By")%> </th>
          <td> <%= f.select(:PaidBy, ['EDS', 'ETS (fee waiver)', 'Student'], {prompt: 'Paid By'})  %></td>
        </tr>

      </table>

    <div class="form-buttons">
      <%= submit_tag("Submit") %>

    <% end %>
</div>