<%= link_to student_pgps_path(@pgp.student.id), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>
    </br>


    <%= error_messages_for(@pgp) %> 
    <%= form_for(:pgp, :url => pgp_path(@pgp.id), method: :patch ) do |f| %>
     <table summary="pgp scoring form">
        <caption>
        <div <div class="header1 col-xl-12"> <%= "PGP Scoring"  %> </div></br>
        </caption>
        <div>
            <tr>
                <th><%= "Goal:" %></th>
                <td><%= "#{@pgp.goal_name}" %></td>
            </tr>
            <tr>
                <th><%= "Goal Description: " %></th>
                <td><%= "#{@pgp.description}"%></td>
            </tr>
            <tr>
                <th><%= "Action Plan: " %></th>
                <td><%= "#{@pgp.plan}"%></td>
            </tr>
            <tr>
                <th><%= f.label(:goal_score, "Score:")%></th>
                <td><%= f.radio_button(:goal_score, 1) %>1</td>
                <td><%= f.radio_button(:goal_score, 2) %>2</td>
                <td><%= f.radio_button(:goal_score, 3) %>3</td>
                <td><%= f.radio_button(:goal_score, 4) %>4</td>
            </tr> 
            <tr>
                <th><%= f.label(:score_reason, "Reason(s) for score: ")%></th>
                <td><%= f.text_area(:score_reason) %></td>
            </tr>
        </div>

        <tr>
            <td>
                <div class="form-buttons">
                    <%= submit_tag("Submit") %>
                </div>
            </td>   

        </tr> 
        
    <% end %>
</table>