<%= link_to(student_pgps_path(@student.id), class: "btn btn-default back-link glyphicon glyphicon-arrow-left") do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="pgp new">


  <%= form_for(:pgp, :url => student_pgps_path(@student.id) ) do |f| %>
	<h2>Create new professional growth plan for <%=@student.name_readable%></h2>
  	<%= error_messages_for(@pgp) %>

	<table summary="PGPs form fields">
    <%= render(partial: 'form', locals: {f: f}) %>
	<td>
    <div class="form-buttons">
      <%= submit_tag("Create PGP") %>


	</td>
	</tr>
    </div>
	</table>



  <% end %>
</div>
