<%= link_to student_pgps_path(@student.AltID), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<table class="vertical-table">
  <caption>
    
    <div class="header1">
      <%= "#{@first_name} #{@last_name}"%>
    </div>

    <div class="header2">
      <%= "Goal Name: #{@pgp.goal_name}" %>
    </div>
  </caption>

  
  <tr >
    <th>Goal Description:</th>
    <td class="wrap"><%= @pgp.description %></td>
  </tr>
  
  <tr>
    <th> Action Plan:</th>
    <td class="wrap"><%= @pgp.plan %></td>
  </tr>


</table>

