<%= link_to student_pgps_path(@pgp.student), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<table class="vertical-table">
  <caption>
    
    <div class="header1">
      <%= "Professional Growth Plan Details for #{@student.FirstName} #{@student.LastName}"%>
    </div>

    <div class="header2">
      <%= "Goal Name:  #{@pgp.goal_name}" %>
    </div>
  </caption>

  <tr >
    <th>Goal Description:</th>
    <td class="wrap"><%= @pgp.description %></td>
  </tr>
  
  <tr>
    <th>Action Plan:</th>
    <td class="wrap"><%= @pgp.plan %></td>
  </tr>
  
  <tr>
    <th>Strategies Including Timeline and Resources:</th>
    <td class="wrap"><%= @pgp.strategies %></td>
  </tr>

</table></br>


