<div class="adm_tep edit">
    <%= link_to("<< Back", adm_tep_index_path, html: {multipart: true},  :class => 'back-link') %>
    
    <%= form_for(:adm_tep, :url => adm_tep_path(@application.AltID), method: :patch ) do |f| %>

    <h2>Edit TEP Application for <%=[@first_name, @last_name].join(' ') + " (" + @term.PlainTerm + ")" %></h2>
    <%= error_messages_for(@application) %> 

    <table summary="adm_tep form fields">

        <tr>
            <th><%= f.label(:TEPAdmit, "Admission Decision", ) %></th>

            <td><%= f.select(:TEPAdmit, 
                        {"Admitted" =>  true, "Not Admitted" => false},
                        {prompt: "Admission Decision"}, :class => "admit-choice") %></td>
        </tr>


        <tr>            
        <th class="date-admit"><%= f.label(:TEPAdmitDate, "Admit Date") %></th>

            <td class="date-admit">
                <%= f.text_field :TEPAdmitDate, 'data-behaviour' => 'datepicker' %>
            <script type="text/javascript">
                $('[data-behaviour~=datepicker]').datepicker({
                    format: 'mm/dd/yyyy',
                    startDate: <%=@term.StartDate.strftime("%m/%d/%Y")  %>,
                    endDate: <%=@term.EndDate.strftime("%m/%d/%Y")  %>
                });
            </script></td>

            <td class="letter-attach">
                <%= f.file_field :letter %>


            </td>
        </tr>



        <tr>
            <td>
                <div class="form-buttons">
                    <%= submit_tag("Submit") %>
                </div>
            </td>   

        </tr> 
        </table>
        <% end %>         
</div>