<h1>AdmTep#index</h1>
<p>Find me in app/views/adm_tep/index.html.erb</p>
<%= params %>


<!-- TODO Implement back link...once we know what we are going back to! -->

<div class="index">

  <table class="listing" summary="adm_tep list">
    <caption>   
      <h2>Applications to TEP <%= @term.PlainTerm%></h2>

      <div> <%= pluralize(@applications.size, 'applications') %>  found </div>

    </caption>

    <% if @applications.size > 0  %>



          <tr class="header">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Program</th>
            <th>GPA</th>
            <th>GPA (Last 30 Credit Hours)</th>      
            <th>Praxis Pass</th>
            <th>Status of Application</th>            
            <th>Admit Date</th>            
          </tr>
      	<% @applications.each do |app|%>
			<tr class "<%= cycle('odd', 'even') %>">
			<td><%= Student.find(app.Student_Bnum).FirstName %></td>
			<td><%= Student.find(app.Student_Bnum).LastName %></td>
      <td><%= Program.find(app.Program_ProgCode).EDSProgName%> </td>
      <td><%=app.GPA %></td>
      <td><%=app.GPA_last30%></td>
      <td><%=%></td>   
      <td><%= app.PortfolioPass ? "Passing" : "Not Passing" %></td>
      <td><%= app.TEPAdmitDate ? app.TEPAdmitDate.strftime("%m/%d/%Y") : nil%></td>   

			
			<td class="actions">
            <%= link_to("Admission Decision", edit_adm_tep_path(app.AltID), :class => "action details")%>
              <!-- actions:
                  make admission decision -->

          </tr>

      	<% end %>
          
    <% end %>

  </table>
</div>