<!-- TODO Implement back link...once we know what we are going back to! -->
<div class="index">




  
  <!-- drop down menu for all terms. Reload page on change -->
  <%= form_for(:banner_term, :url => adm_tep_choose_path('pick')) do |f| %>

    <%= f.select( :menu_terms,  @menu_terms.map { |t| [t.PlainTerm, t.BannerTerm]},
          {prompt: "Select a term"}, 
          {:onchange => "this.form.submit()"}) %>
      <%# submit_tag("Submit") %>
  <% end %>


  <table class="listing" summary="adm_tep list">
    <caption>   
      <h2>Applications to TEP: <%= @term.PlainTerm%></h2>
      
  <%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Student", new_adm_tep_path, :class => 'large_action issue_new new') %>
       <%= pluralize(@applications.size, 'applications') %>  found 

    </caption>

    <% if @applications.size > 0  %>

          <tr class="header">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Program</th>
            <th>GPA</th>
            <th>GPA (Last 30 Credit Hours)</th>      
            <th>Praxis Pass</th>       
            <th>Admit Date</th>            
          </tr>
      	<% @applications.each do |app|%>
        <% student = Student.find(app.Student_Bnum) %>


			<tr class "<%= cycle('odd', 'even') %>">
			<td><%= student.FirstName %></td>
			<td><%= student.LastName %></td>
      <td><%= Program.find(app.Program_ProgCode).EDSProgName%> </td>
      <td><%=app.GPA %></td>
      <td><%=app.GPA_last30%></td>
      <td><span class="glyphicon glyphicon-search" aria-hidden="true"></span></td>
      <td><%= app.TEPAdmitDate ? app.TEPAdmitDate.strftime("%m/%d/%Y") : nil%></td>   

			
			<td class="actions">
        <!-- display decision or link to make decision if none made -->

            <% if app.TEPAdmit == nil %>

              <%= link_to("Admission Decision", edit_adm_tep_path(app.AltID), :class => "action details")%>

            <% else %>

              <%= app.TEPAdmit ? "Admitted" : "Not Admitted" %>

            <% end %>
            
              <!-- actions:
                  make admission decision -->

          </tr>

      	<% end %>
          
    <% end %>

  </table>
</div>