<%= link_to students_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="index">

  <!-- drop down menu for all terms. Reload page on change -->
  <%= form_for(:banner_term, :url => adm_tep_choose_path('pick')) do |f| %>

    <%= render(partial: 'term_picker', locals: {f: f}) %>

  <% end %>

  <div class="container-fluid">

    <table class="listing summary adm_tep list table table-striped">

      <caption>
          <div class="row">
            <div class="header1 col-xs-12">
               Applications to TEP: <%= @term.PlainTerm%>
             </div></br>
             <div class="header2 col-xs-12">
               <%= pluralize(@applications.size, 'application') %>  found
             </div></br>


            <div class="col-xs-12">
              <%= link_to new_adm_tep_path, :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>
                 <span class="large-btn-text">Add New Application</span>
              <% end %>
            </div>
          </div>


      </caption>

      <% if @applications.size > 0  %>

            <tr class="header">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Program</th>
              <th> Sufficient GPA</th>
              <th>Sufficient Credits</th>
              <th>Praxis Pass</th>
              <th>Admit Date</th>
              <th>Admission Decision</th>


            </tr>
        	<% @applications.each do |app|%>

  			<tr class "<%= cycle('odd', 'even') %>">
  			<td><%= app.student.FirstName %></td>
  			<td><%= app.student.LastName %></td>
        <td><%= app.program.EDSProgName%> </td>
        <!-- <td><%=app.GPA %></td>
        <td><%=app.GPA_last30%></td> -->
        <td>
          <% if app.good_gpa? %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
         </td>

        <td>
          <% if app.good_credits? %>

            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
         </td>

        <td>
          <% if app.student.praxisI_pass %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

          <% end %>

          </td>
        <td><%= app.TEPAdmitDate ? app.TEPAdmitDate.strftime("%m/%d/%Y") : nil%></td>

  			<td class="actions">
              <!-- Display button for admission decision if
                  1) Student has no admission decision
                  2) we are currently inside a term
                  3) the term displayed is a current term.-->
              <% if app.TEPAdmit == nil and @term = current_term(exact: false)%>

                <%= link_to("Admission Decision", edit_adm_tep_path(app.id), :class => "action details btn btn-info action-small issues")%>

              <% else %>

                <%= app.TEPAdmit ? "Admitted" : "Not admitted"%>

              <% end %>
        </td>

        <td>
          <%= render(partial: 'details_popover',
            locals: {
              :record_id => "details-#{app.id}",
              :popover_title => "Adm TEP Details",
              :button_title => "Details",
              :content => app.Notes,
              } )  %>
        </td>
        
        <td>
            <%= render(partial: "links_popover", :locals => {
                            :app => app
                        }
                    ) %>
        </td>

        <td>

          <%= button_to(adm_tep_path(app.id), { class: "btn btn-default #{app.TEPAdmit==nil ? "" : "disabled" }",
          method: :delete,
          data: {confirm: "Are you sure you want to delete this application?"}} ) do %>
                      <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
          <!--Display button for deleting record
          # 1) Button in grey if decision has been made
          # 2) Button clickable if decision is nil-->

        </td>


        </tr>
          <!-- end of if statement for content-->
        	<% end %>

      <!-- end of main loop -->
      <% end %>

    </table>
  </div>   <!-- end container -->
</div>
