<!-- TODO Implement back link...once we know what we are going back to! -->
<div class="index">

  <!-- drop down menu for all terms. Reload page on change -->
  <%= form_for(:banner_term, :url => adm_tep_choose_path('pick')) do |f| %>

    <%= f.select( :menu_terms,  @menu_terms.map { |t| [t.PlainTerm, t.BannerTerm]},
          {prompt: "Select a term"}, 
          {:onchange => "this.form.submit()"}) %>

  <% end %>


  <table class="listing summary adm_tep list table table-striped">
    <caption>   
      <h2>Applications to TEP: <%= @term.PlainTerm%></h2>
      
  <%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Student", new_adm_tep_path, :class => 'large_action issue_new new') %>
       <%= pluralize(@applications.size, 'applications') %>  found 

    </caption>

    <% if @applications.size > 0  %>

          <tr class="header">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Program</th>
            <th>GPA</th>
            <th>GPA (Last 30 Credit Hours)</th>      
            <th>Praxis Pass</th>       
            <th>Admit Date</th>
            <th>Admission Decision</th>
<!--             <th>Decision Letter</th>     -->

          </tr>
      	<% @applications.each do |app|%>
        <% student = Student.find(app.Student_Bnum) %>


			<tr class "<%= cycle('odd', 'even') %>">
			<td><%= student.FirstName %></td>
			<td><%= student.LastName %></td>
      <td><%= Program.find(app.Program_ProgCode).EDSProgName%> </td>
      <td><%=app.GPA %></td>
      <td><%=app.GPA_last30%></td>
      <td>
        <% if praxisI_pass(student) %> 
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 

        <% else %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 

        <% end %>

        </td>
      <td><%= app.TEPAdmitDate ? app.TEPAdmitDate.strftime("%m/%d/%Y") : nil%></td> 

			<td class="actions">
            <!-- Display button for admission decision if
                1) Student has no admission decision
                2) we are currently inside a term
                3) the term displayed is a current term.-->
            <% if app.TEPAdmit == nil and @term = current_term(exact=false)%>    

              <%= link_to("Admission Decision", edit_adm_tep_path(app.AltID), :class => "action details")%>

            <% else %>

              <%= app.TEPAdmit ? "Admitted" : "Not admitted"%>

    <% end %>
      </td>
<!-- <button type="button" class="btn btn-default btn-lg text-center"><span class="glyphicon glyphicon-share"></span><br>Resend</button> -->
      <% if app.letter_file_name %>      
          <td class="doc-download"> 

            <%= link_to app.letter.url, :class => "glyphicon glyphicon-file" do %>

            <% end %>
              </br><small>Letter</small>
          </td>
      <% end %>



          </tr>
        <!-- end of if statement for content-->
      	<% end %>
          
    <!-- end of main loop -->
    <% end %>   

  </table>
</div>