<%= link_to adm_tep_index_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>


<div class="issue new">

  <%= form_for(:adm_tep, :url => adm_tep_index_path) do |f| %>

	<table summary="adm_tep form fields">

	    <caption>New Application</caption>
	    <%= error_messages_for(@app) %>

    <tr>
      <th> <%= f.label(:student_id, "Name")%> </th>
      <td> <%= f.select(:student_id, @students.map {|s| [name_details(s, file_as=true), s.Bnum]}, {:prompt => 'Select a name'}) %></td>
    </tr>

    <tr>
      <th> <%= f.label(:Program_ProgCode, "Program")%> </th>
      <td> <%= f.select(:Program_ProgCode, @programs.map {|p| [p.EDSProgName, p.ProgCode]}, {:prompt => 'Select a Program'}) %></td>
    </tr>

  	<tr>
	<th></th>
	<td>
    <div class="form-buttons">
      <%= submit_tag("Submit") %>


	</td>
	</tr>
    </div>	
	</table>



  <% end %>
</div>
