
= error_messages_for(@pgp_goal)
.field
  = f.hidden_field :student_id, value: @student.id
.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :domain
  = f.select :domain, options_for_select: PgpGoal.domains, prompt: 'Select a Danielson domain'
.field
  = f.label :active
  = f.check_box :active, checked: true
.actions
  = f.submit 'Save'