  <!-- Partial for a popover.

    arguments:
        record_id: an id for the record the popover will represent. Must be unique to the page
        popover_title: the title of the popover.
        button_title: the name of the button
        content: the main content to be dispalyed
         -->


  <!-- Button trigger modal -->
  <button class="btn btn-info action-small"+ <%= content.to_s == "" ? "disabled" : "" %> data-toggle="modal" data-target="#exit-<%= record_id %>-details">
    <%= button_title  %>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exit-<%= record_id %>-details" tabindex="-1" role="dialog" aria-labelledby="exit-<%= record_id %>-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exit-<%= record_id %>-label"> 
            <%=popover_title %> </h4>
        </div>
        <div class="modal-body">
          <%= content %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>