  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Education Studies Dashboard</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to("Students & Advisees", students_path) %></li>
      <li class="active"><%= link_to("Praxis Registration", new_praxis_result_path) %></li>
      <li class = "dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Admissions/Exit <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to("Admission to TEP", adm_tep_index_path) %></li>
          <li><%= link_to("Admission to Student Teaching", adm_st_index_path) %></li>
          <li><%= link_to("Program Exits", prog_exits_path) %></li>
        </ul>
      </li>

      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Field Experience <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to("Clinical Placements", clinical_assignments_path) %></li>
          <li><%= link_to("Clinical Teachers",
          clinical_teachers_path) %></li>
          <li><%= link_to("Clinical Sites",
          clinical_sites_path) %></li>
        </ul>
      </li>

      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li> <%= link_to("Praxis Result Resolution", praxis_result_temps_path) %> </li>
          <li> <%= link_to("All students", reports_path) %></li>
          <li> <%= link_to("Ready for TEP", reports_need_apply_path) %> </li>
          <li> <%= link_to("Forms of Intention", fois_path) %></li>
        </ul>
      </li>

    </ul>

  </div>
