<%= link_to clinical_assignments_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>
<%= form_for(@assignment, url: clinical_assignment_path(@assignment.id)) do |f| %>

	<table summary="clinical_assignments form fields">

    <caption>
    	<span class="header1"> Edit Clinical Assignment</span>
    	<span class="header2"> <%= " #{name_details(@assignment.student, file_as=true)} with #{@assignment.clinical_teacher.FirstName} #{@assignment.clinical_teacher.LastName}"  %></span>

    </caption>

	<%= render(partial: 'form', locals: {f: f}) %>
	<br>
	<tr>
		<td><%= submit_tag("Update Assignment") %></td>
	</tr>

	</table>
<% end %>
