<div class="index">
  <% @page_title = "Clinical Sites" %>
  <!-- drop down menu for all terms. Reload page on change -->
  <%= form_for(:banner_term, :url => clinical_assignment_choose_path('pick')) do |f| %>

    <%= render(partial: 'term_picker', locals: {f: f}) %>


  <% end %>

  <table class="listing table table-striped" summary="clinical_assignments list">
    <caption> 
      <span class="header1"><%= "Clinical Assingments: #{@term.PlainTerm}" %> </span><br>  
      <span class="header2"><%= @assignments.size %> found</span>  
        <div class="container">
          <div class="row">
            <div class="col-md-1 pull-right">
              <%= link_to new_clinical_assignment_path, :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>  
                  <span class="large-btn-text">New Assignment</span>
              <% end %>         
            </div>
          </div>
        </div> 
    </caption>
    <tr class="header">
      <th>Student</th>
      <th>Clinical Teacher</th>
      <th>Course</th>
      <th>Level</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    <% @assignments.each do |assignment| %>
    <td><%= name_details(assignment.student, file_as=true)%></td>
    <td><%= "#{assignment.clinical_teacher.FirstName} #{assignment.clinical_teacher.LastName}"  %></td>
    <td><%= assignment.CourseID %></td>  <!-- needs to exist in Banner!-->
    <td><%= assignment.Level %> </td>
    <td><%= assignment.StartDate.strftime("%m/%d/%Y") %></td>
    <td><%= assignment.EndDate.strftime("%m/%d/%Y") %></td>
    <td class="actions">

      <!-- actions:
        see teachers
        edit school-->

    <!-- see teachers -->
        <%= link_to '#', :class => "btn btn-info action-small" do %>
              <span class="small-btn-text">Edit
              </span>
            <% end %>


      </td>
    </tr>
    <% end %>
  </table>