
<%= link_to student_issues_path(@student.AltID), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<div class="container-fluid">
  <table class="table">

  <div class="row">
    <caption>
      <div class="header1 col-xs-12">
        <%="#{@student.FirstName} #{@student.LastName}"%>
      </div>

      <div class="header2 col-xs-12">Updates for issue: <%= @issue.Name %>
      </div>

      <div class="col-md-1">
        <%= link_to new_issue_issue_update_path(@issue.IssueID), :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>
          <span class="large-btn-text">Add New Update</span>

        <% end %>
      </div>
    </caption>
  </div>

  <% if @updates %>
    <tr>
      <th>Update</th>
      <th>Date</th>
      <th>Status</th>
    </tr>


    <% @updates.each do |update| %>
      <tr class="<%= "alert alert-#{update.status_color}"  %>">
        <td><%=update.UpdateName%></td>
        <td> <%=update.created_at.strftime("%m/%d/%Y")%> </td>

        <td><%= update.status %></td>

        <!-- TODO: radio button to toggle addressed field -->
        <td>
          <%= form_tag students_path, method: :patch, remote: true do %>
            <input id="<%='update'  +update.id.to_s%>" type="checkbox" Oncolor="success" Offcolor="danger" data-on-text="addressed" data-off-text="NEW" class="bs-switch switch-<%= update.addressed ? 'on' : 'off' %>" ajax_path="<%= students_path %>">
          <% end %>

        </td>

        <td class="actions">

          <%= render(partial: 'details_popover',
          locals: {
            :record_id => update.UpdateID,
            :popover_title => "#{update.UpdateName}, created by #{update.tep_advisor.first_name} #{update.tep_advisor.last_name}",
            :popover_subtitle => "",
            :button_title => "Details",
            :content => update.Description
          } )  %>
        </td>
        <td>
                <%= button_to(issue_update_path(update.id), { class: "btn btn-default", method: :delete, data: {confirm: "Are you sure you want to delete this update?"}} ) do %>
                     <span class="glyphicon glyphicon-trash"</span>
                <% end %>
        </td>
      </tr>


    <% end %>

  <% end %>

  </table>
</div>
