<%= link_to student_issues_path(@student.AltID), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %> 

<table class="table table-striped">

  <caption>
    <div class="header1">
      <%="#{@student.FirstName} #{@student.LastName}"%>
    </div>

    <div class="header2">Updates for issue: <%= @issue.Name %> (<span class="<%=@issue.Open ? "bad_text" : "good_text"  %>"><%=@issue.Open ? "Open" : "Closed"  %></span>) 
    </div>
    <div class="row">
      <div class="col-md-1 pull-right">
        <%= link_to new_issue_issue_update_path(@issue.IssueID), :class => "btn btn-info glyphicon glyphicon-plus action-large" do %> 
          <span class="large-btn-text">Add New Update</span>

        <% end %>    
      </div>
    </div>
  </caption>

  <% if @updates %>
    <tr>
      <th>Update</th>
      <th>Date</th>
    </tr>
  

    <% @updates.each do |update| %>

      <tr>
        <td><%=update.UpdateName%></td>
        <td> <%=update.CreateDate.strftime("%m/%d/%Y")%> </td>
        <td class="actions">

          <%= render(partial: 'details_popover', 
          locals: {
            :record_id => update.UpdateID,
            :popover_title => "Update Details", 
            :button_title => "Details",
            :content => update.Description
          } )  %>
        </td>
      </tr>
      
    <% end %>

  <% end %>

</table>