<%= link_to("<< Back", student_issues_path(@student.AltID), :class => 'back-link') %>

<div class="issue new">


  <%= form_for(:issue_updates, :url => issue_issue_updates_path(@issue.IssueID)) do |f| %>
	<h2>New Update for <%=@issue.Name%></br></h2>

	 <h3><%=[@first_name, @last_name].join(' ')%></h3>
  	<%= error_messages_for(@update) %>

	<table summary="Issue form fields">

	  <tr>
	    <th><%= f.label(:UpdateName, "Name") %> </th>
	    <td><%= f.text_field(:UpdateName) %></td>
	  </tr>

	  <tr>
	    <th><%= f.label(:Description, "Description") %></th>
	    <td> <%= f.text_area(:Description, :size => '30x10') %> </td>
	  </tr>

  	<tr>
	<th></th>
	<td>
    <div class="form-buttons">
      <%= submit_tag("Submit Issue") %>


	</td>
	</tr>
    </div>	
	</table>



  <% end %>
</div>


