<!DOCTYPE html>
<html>
	<head>
	  <title>Education Studies Dashboard</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
	  <%= stylesheet_link_tag('application') %>
    <%= javascript_include_tag :defaults %>

	</head>
	<body>

	<div id="header"> 

    <div class="top_banner">
    	Loged in as: ____


    </div>
 
  </div>

    <div class="navigation">
      <ul>
        <li><%= link_to("Advisees", students_path) %></li>
        <li><%= link_to("TEP Applications", 
        banner_term_adm_tep_index_path(current_term(exact=false).BannerTerm)
        ) %></li>
        <li><a href="#">Option</a></li>
        <li><a href="#">Option</a></li>
        <li><a href="#">Option</a></li>
        <li><a href="#">Option</a></li>
        <li><a href="#">Option</a></li>
        <li><a href="#">Option</a></li>
      </ul>
    </div>

		<!--Before yield -->
      <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
<div class="yield">  <%= yield %> </div>
	
		<!--After yield -->

</html>
